.sidebar-bottom {
    border-bottom: none;
    justify-content: center;
    
}

.color-box {
    width: 20px;
    height: 20px;
    border: 1px solid #9ca3af;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    
}

.dark {
    background-color: #111827;
}
.nigth{
    background-color: #312e81;
}
.light {
    background-color: #f3f4f6;
}